@font-face {
  font-family: 'Inter';
  src: url('../font/Inter.ttf');
}

@font-face {
  font-family: 'SourceSerif';
  src: url('../font/SourceSerif4.ttf');
}

*, html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sourceSerif {
  font-family: 'SourceSerif', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.customScroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* .customScroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.customScroll::-webkit-scrollbar-thumb {
  background: #888; 
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.quill > .ql-container > .ql-editor.ql-blank::before{
  font-style: normal;
}

.ql-editor {
  min-height: 245px;
}

.ql-editor::placeholder {
  font-style: normal;
}

@media (min-width: 768px) {
  .ql-toolbar {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.mainArticle  * {
  font-family: 'SourceSerif', "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.mainArticle h2  strong, .ql-large {
  font-size: 28px;
}